
.body{
    background: url('../img/IDER2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 30px;
}
.avatar{
    margin: auto;
}
.box{
    width: 400px;
    margin: auto;
    padding: 20px;
}
.top{
    top: 100px;
}